<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<body>
    <div class="details content">
        <h2><%= blogs.title %></h2>
        <div class="content">
          <p><%= blogs.body %></p>
        </div>
        <a class="delete" data-doc="<%= blogs._id %>">delete</a>
      </div>
    
  <%- include("./partials/footer.ejs") %>
    
</body>
</html>