<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

       <a href="/blogs/<%=blog.id%>"> <h1 class="title"><%= blog.title %></h1>
        <p class="snippet"><%= blog.snippet %></p>
        <div class="body"><%=blog.body %></div>
        <div class="subtitle"><%=blog.subtitle %></div></a>

      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>